/* index footer override: neutralize background for body.mdc-typography */
body.mdc-typography footer, body.mdc-typography #footer {
  background: transparent !important;
  background-color: transparent !important;
  box-shadow: none !important;
}
